include ../blocks/header
include ../blocks/footer
include ../blocks/summary
include ../blocks/services
include ../blocks/price-bitrix
include ../blocks/price-web
include ../blocks/card-sm
include ../blocks/benefits
include ../blocks/process
include ../blocks/logo
include ../blocks/btn-consultation
include _tech-data