-
    const techSections = [
    {
    title: 'Фронтенд',
    desc: 'HTML5, CSS3 (адаптивная вёрстка), JavaScript, TypeScript, а также React и Vue для создания современных интерфейсов и одностраничных приложений.'
    },
    {
    title: 'Бэкенд',
    desc: 'Серверная часть реализуется на PHP, Bitrix Framework, Node.js и Python, что позволяет разрабатывать высоконадежные веб‑сервисы, API и интеграционные модули.'
    },
    {
    title: 'Базы данных и кэширование',
    desc: 'MySQL, PostgreSQL для реляционных данных, Redis — для кэширования и быстрых операций.'
    },
    {
    title: 'Интеграции',
    desc: 'Поддерживаются интеграции через REST API, Webhooks, WebSocket, API мессенджеров, IMAP / SMTP (почтовые протоколы).'
    },
    {
    title: 'Инфраструктура',
    desc: 'Docker, Nginx, Git, автоматизация сборки и развертывания (CI/CD).'
    }
    ];

    const details = [
    {
        first: "Название организации",
        second: "Общество с ограниченной ответственностью “Бэтроник” (ООО “Бэтроник”)"
    },
    {
        first: "Юридический адрес",
        second: "634041, Томская обл, г. Томск, Вершинина ул, 24/2, 28"
    },
    {
        first: "ИНН",
        second: "7017422684"
    },
    {
        first: "КПП",
        second: "701701001"
    },
    {
        first: "ОГРН",
        second: "1177031070699"
    },
    {
        first: "Расчётный счёт",
        second: "40702810204000028302 в Сибирский филиал ПАО “Промсвязьбанк” БИК 045004816"
    }
    ];