head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="icon" href="images/favicon.ico" sizes="any")
    script(type="module" src="/src/main.js")
    
    block head
    title= pageTitle || 'Бэтроник'