extends ../pug/layout

block head

block content
  +header('aboutus')

  main
    h1.text-center О компании
    .color-light.section-aboutus
      article.container
        h2.text-center Общая информация
        p Общество с ограниченной ответственностью «Бэтроник» (ООО «Бэтроник») осуществляет деятельность в сфере информационных технологий и разработки программного обеспечения.
        p ООО «Бэтроник» имеет государственную аккредитацию Министерства цифрового развития, связи и массовых коммуникаций Российской Федерации как организация, осуществляющая деятельность в области информационных технологий (решение  № TODO).
        p Основным направлением деятельности компании является разработка и внедрение цифровых решений для бизнеса, включая корпоративные порталы, CRM-системы, веб-сервисы и программные продукты для автоматизации внутренних процессов компаний.
        p Основной вид деятельности согласно ОКВЭД: 62.01 — Разработка компьютерного программного обеспечения. TODO
        h3 Направления специализации:
        ul.aboutus-areas-list
          li.aboutus-areas-list__item Внедрение и настройка платформ управления бизнесом
          li.aboutus-areas-list__item Разработка программного обеспечения и веб-решений
          li.aboutus-areas-list__item Техническая поддержка и сопровождение
          li.aboutus-areas-list__item Мобильные и адаптивные решения
        p Полный перечень услуг, включая детализацию тарифов и условий, доступен на странице:
          a(href="/services.html").text-italic.aboutus__link  services.html
    section.section-aboutus
      .container
          h2.text-center Технологии
          p Компания использует современный технологический стек, обеспечивающий надежность, безопасность и масштабируемость разрабатываемых решений. В работе применяются проверенные индустриальные стандарты и инструменты.

          ul.tech-list
            each section in techSections
              li.tech-item
                h3.tech-title= section.title
                p.tech-desc= section.desc
    section.color-light.section-aboutus
      .container
          h2 Реквизиты
          .details
            table.details__content
              each item in details
                tr.details__row
                  td.details__title= item.first
                  td.details__text= item.second



  



  +footer#footer




