extends ../pug/layout

block head

block content
  +header('index')

  main
    section.gradient
      .container.hero
        .hero__text
          h1.text-center ЦИФРОВЫЕ РЕШЕНИЯ <br> ПОД КЛЮЧ
          p.hero__text_sm Сайты, интернет-магазины, порталы, CRM

        .hero__img.large-screen-display
          img(src="./src/assets/hero-img.jpeg", alt="Команда за работой")
    section.color-light.section.large-screen-display
      +summary.container
    section.section
      .container
        h2.text-center Наши услуги
        p.section-descr Разрабатываем проекты любой сложности: от стандартных решений до высоконагруженных систем
        +services
    section.section.color-light
      .container
        h2.text-center Наши преимущества
        p.section-descr Мы не просто пишем код — мы решаем бизнес-задачи и несём ответственность за результат
        +benefits()
    section.section
      .container
        h2.text-center Процесс от заявки до результата
        p.section-descr Прозрачный процесс без сюрпризов — вы всегда знаете, что происходит
        +process()


  +footer#footer





