extends ../pug/layout

block head

block content
  +header('services')

  main
    h1.text-center Наши услуги
    p.section-descr Корпоративные порталы и Битрикс24. Интеграции, поддержка и разработка проектов любой сложности.
    section.section.color-light
      .container
        h2 Битрикс24
        +price-bitrix
    section.section#web
      .container
        h2 Разработка сайтов
        +price-web




  +footer#footer





