mixin footer
    footer.footer&attributes(attributes)
        .footer-content.container
            .footer-col
                +logo
                p Профессиональные цифровые решения.<br> От идеи до запуска.
                p ©2026 Бэтроник
            .footer-col
                p Общество с ограниченной ответственностью “Бэтроник” (ООО “Бэтроник”)
                p mail@here.com!!!!



                