mixin footer
    footer.footer&attributes(attributes)
        .footer-content.container
            .footer-col
                +logo
                p Профессиональные цифровые решения.<br> От идеи до запуска.                
            .footer-col
                p.footer-mail mail@here.com!!!!
                p Общество с ограниченной ответственностью “Бэтроник” (ООО “Бэтроник”)                
            .footer-col
                p ©2026 Бэтроник



                