mixin header(activePage)
    header.header&attributes(attributes)
        .header-content.container
            a(href= activePage === 'index' ? "#" : "index.html").header__logo
                +logo

            nav.header__nav
                ul.nav-list
                    li
                        a(href=`services.html` class= activePage === 'services' && "active").nav-list__item услуги
                    li
                        a(href=`aboutus.html` class= activePage === 'aboutus' && "active").nav-list__item о компании
                    li
                        a(href=`#footer`).nav-list__item контакты
                    li
                        +btn-consultation

