
mixin process
    .process&attributes(attributes)
        - for (let i = 0; i < icons.length; i++)
            +card-sm(counter[i], title1[i], text1[i])


- var counter = ['<span class="counter">01</span>', '<span class="counter">02</span>', '<span class="counter">03</span>', '<span class="counter">04</span>', '<span class="counter">05</span>', '<span class="counter">06</span>']
- var title1 = ['Брифинг', 'Аналитика', 'Разработка', 'Тестирование', 'Запуск', 'Поддержка']
- var text1 = ['Изучаем ваш бизнес, задачи и ожидания. Бесплатная консультация 60 минут.','Описываем требования, проектируем архитектуру, согласуем ТЗ.','Итеративная разработка с демонстрацией результатов каждые 2 недели.','Функциональное и нагрузочное тестирование. Обучение команды.','Развёртывание на продуктивной среде, передача документации.','Гарантийная и постгарантийная техническая поддержка по SLA.']

